.navbar{
    background-color:#323232 !important;
    color: #fdfdfd;
}

li span{
    color: #fdfdfd;
    text-decoration: underline;
}

li span:hover{
    color: #AAAAAA;
    text-decoration: none;
}

.fa-logout a{
    color: #fdfdfd;
}

.fa-logout a:hover{
    color: #AAAAAA;
    text-decoration: none;
}

.fa-username{
margin-right: 30px;
}

.fa-username span{
    font-weight: bold;
}
.navbar-expand-lg{
    padding: 0 50px;
    margin-bottom: 30px;
}

.container{
    max-width: 100% !important;
}

.heading-row{
    background-color:#323232;
    color: #fdfdfd;
    padding: 15px 20px;
}

.hr-first{
    background-color: #FF9933;
}
.hr-second{
    background-color: #138808;
}
.hr-third{
    background-color: #000080;
}


.heading-row h2{
    font-size: 1.3rem !important;
    margin: 0 !important;
}

.activity-card{
    background-color: #DDDDDD;
    margin-top: 10px;
    border:1px solid #888888;
    padding: 10px 20px;
}

h3{
    font-size: 1.3rem !important;
    margin: 0 !important;
}

.date-inline{
    margin-bottom: 15px;
}
.date-inline b{
    margin-right: 15px;
}

.date-inline b,.date-inline p{
    display: inline;
}

.priority-inline{
    margin-bottom: 15px;
}

.priority-inline p{
    display: inline;
}

.heading-row{
    margin: 0 0 !important;
}

.addActivityForm{
    margin:auto;
}

.addActivityForm form input, .addActivityForm form div div select{
    margin-bottom: 10px;
}

.btn-dark{
    margin-top: 10px;
}

.card{
    margin:auto;
}

.card{
    margin-top: 180px !important;
    padding: 20px !important;
}

.card-block form fieldset div input{
    margin-bottom: 10px;
}

.card-block form fieldset div div a{
    margin-top: 0 !important;
}

.buttons-bottom{
    margin-top: 10px !important;
}

.row div form div div a{
    margin-top: 0 !important;
}

.row div form input{
    margin-bottom: 10px !important;
}

.register-row{
    margin:50px auto !important;
}

.actTreeSide tr td:first-child {
    padding-left: 35px;
}

.actChildSide td:first-child{
    padding-left: 70px !important;
}

.comment{
    background-color: #DDDDDD;
    margin-top: 10px;
    border:1px solid #888888;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.text-username{
    font-size: 20px !important;
}

.text-right{
    text-align: right;
}

.comment-text{
    background-color: white;
    padding: 10px 20px;
}

.timeComment span p{
    display: inline;
}

.timeComment span{
    float: right;
}

.commentDate p{
    font-size: 13px !important;
}

.commentDateBoard p{
    font-size: 13px !important;
    display: inline;
}

td p{
    font-size: 13px !important;
    display: inline;
}

p{
    margin:0 !important;
}
li{
    display: inline-block;
}

.progress{
    padding: 0 !important;
    height: 1.25rem !important;
}

.progress-bar{
    height: 1.25rem !important;
}

.progressBar{
    margin: auto !important;
    margin-bottom: 10px !important;
}

