<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'user-board')}">
<head>
    <meta charset="UTF-8">
    <title>Add activity</title>
</head>
<body>
<div class="row">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-6 addActivityForm">
    <div class="row">
      <div class="col-sm-9">
        <h1>Edit activity</h1>
      </div>
    </div>
    <form method="post" th:object="${newActivity}">
      <div class="row">
        <div class="col-sm-2">
          <a class="btn btn-dark" th:href="@{/activity/{id}/addReport(id=${newActivity.getId()})}">Add report</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-dark" th:href="@{/activity/{id}/createChildActivity(id=${newActivity.getId()})}">Add child</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-dark" th:href="@{/activity/{id}/addComment(id=${newActivity.getId()})}">Add comment</a>
        </div>
        <div th:switch="${newActivity.state}" class="col-sm-3">
          <a th:case="'done'" class="btn btn-dark" th:href="@{/activity/{id}/document.xlsx(id=${newActivity.getId()})}">Generate report</a>
          <a th:case="*" class="btn btn-dark invisible">Generate report</a>
        </div>
        <div class="col-sm-2 container">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <input th:replace="~{fragments/inputText :: input ('Name', 'name', 'text')}" th:field="*{name}">
        </div>
        <div class="col-sm-3">
          <input th:replace="~{fragments/inputText :: input ('Priority', 'priority', 'readOnlyText')}" th:field="*{priority}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input th:replace="~{fragments/inputText :: input ('Worked', 'timeWorked', 'readOnlyText')}" th:field="*{timeWorked}">
        </div>
        <div class="col-sm-6">
          <input th:replace="~{fragments/inputText :: input ('Time', 'time', 'readOnlyText')}" th:field="*{time}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input th:replace="~{fragments/inputText :: input ('From', 'dateFrom', 'date')}" th:field="*{dateFrom}">
        </div>
        <div class="col-sm-6">
          <input th:replace="~{fragments/inputText :: input ('Deadline', 'dateTo', 'date')}" th:field="*{dateTo}">
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <label>State</label></br>
          <select class="form-select" th:field="*{state}">
            <option th:value="new" th:text="New"></option>
            <option th:value="toBeImp" th:text="'To be implemented'"></option>
            <option th:value="doing" th:text="Doing"></option>
            <option th:value="done" th:text="Done"></option>
          </select>
        </div>
      <div class="col-sm-6">
        <label>User</label></br>
        <select class="form-select" th:field="*{user}">
          <option th:each="userNew: ${usersFind}" th:value="${userNew.id}" th:text="${userNew.username}"></option>
        </select>
      </div>
      </div>
      <input th:replace="~{fragments/inputText :: input ('Description', 'description', 'textArea')}" th:field="*{description}">
      <input class="btn btn-success" type="submit" value="Submit">
    </form>

    <hr>
    <h2>Comments</h2>
    <div>
      <div class="comment" th:each="comment, iter: ${comments}">
        <div class="row">
          <div class="col-sm-3"><p class="text-username" th:text="${comment.user.username}"></p></div>
          <div class="col-sm-9 timeComment">
            <span>
              <p class="text-right" th:text="${comment.time.getHour()}"></p><p
            >:</p><p
                    class="text-right" th:text="${minutesFrom.get(iter.index)}"></p>
              <p>&nbsp;</p>
              <span class="commentDate">
                <p class="text-right" th:text="${comment.time.getDayOfMonth()}"></p><p
              >/</p><p
                      class="text-right" th:text="${comment.time.getMonthValue()}"></p><p
              >/</p><p
                      class="text-right" th:text="${comment.time.getYear()}"></p>
              </span>
            </span>
          </div>
        </div>
        <div class="comment-text" th:text="${comment.commentText}">text</div>
      </div>
    </div>


  </div>
  <div class="col-sm-4">
    <h1>Activity tree</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Parent</th>
        <th><a th:href="@{/activity/{id}(id=${newActivity.motherActivity.id})}"><span th:text="${newActivity.motherActivity.name}"></span></a></th>
        <th th:text="${newActivity.motherActivity.user.username}">User</th>
      </tr>
      </thead>
      <tbody class="actTreeSide">
      <tr>
        <td>This activity</td>
        <td><span th:text="${newActivity.name}"></span></td>
        <td th:text="${newActivity.user.username}">1</td>
      </tr>
      <tr class="actChildSide" th:each="child: ${childActivities}">
        <td>Child</td>
        <td><a th:href="@{/activity/{id}(id=${child.id})}"><span th:text="${child.name}"></span></a></td>
        <td th:text="${child.user.username}">1</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-1">

  </div>
</div>
</body>
</html>