<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'user-board')}">
<head>
  <meta charset="UTF-8">
  <title>Add activity</title>
</head>
<body>
<div class="row">
  <div class="col-sm-6 addActivityForm">
    <h1>Add report</h1>
    <div class="row">
      <form method="post" th:object="${newComment}">
        <div class="row">
          <div class="col-sm-6">
            <input th:replace="~{fragments/inputText :: input ('Comment text', 'commentText', 'text')}" th:field="*{commentText}">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <input class="btn btn-success" type="submit" value="Submit">
          </div>
          <div class="col-sm-9">
            <a th:href="@{/activity/{id}(id=${newComment.activity.id})}" class="btn btn-dark">Back to activity</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>