<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
<H1>App1</H1>
<form method="post" th:object="${newUser}">
    First name: <input th:field="*{username}">
    Last name: <input th:field="*{password}">
    <input type="submit">
</form>
</body>

</html>