<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'user-board')}">
<head>
  <meta charset="UTF-8">
  <title>Add activity</title>
</head>
<body>
<div class="row">
  <div class="col-sm-4 register-row">
    <H1>Change password</H1>
    <form method="post" th:object="${userEdit}">
      <button type="button" class="btn btn-secondary btnInfo" data-bs-toggle="tooltip" data-bs-placement="top" th:title="'A password must have at least ten characters. A password consists of only letters and digits. A password must contain at least two digits.'">
        i
      </button>
      <input th:replace="~{fragments/inputText :: input ('New password', 'password', 'password')}" th:field="*{password}">
      <span th:class="${messageValidNotVisible}+' vis'"><div class="alert alert-danger" role="alert" th:text="${messageValid}"></div></span>
      <input th:replace="~{fragments/inputText :: input ('Password repeat', 'role', 'password')}" th:field="*{role}">
      <span th:class="${messagePassNotVisible}+' vis'"><div class="alert alert-danger" role="alert" th:text="${messagePass}"></div></span>
      <div class="row buttons-bottom">
        <div class="form-actions col-sm-4">
          <button type="submit" class="btn btn-success">Change password</button>
        </div>
        <div class="col-sm-5">
          <a class="btn btn-dark" th:href="@{/user-board}">Back to user board</a>
        </div>
      </div>
    </form>
    <div th:switch="${actualUser.role}">
        <div th:case="'admin'" class="row adminMenu">
          <h2>Admin menu:</h2>
          <div class="col-sm-4">
            <a class="btn btn-dark" th:href="@{/manage-users}">Manage users</a>
          </div>
          <div class="col-sm-8">
            <a class="btn btn-dark" th:href="@{/activity-reasign}">Activities to be assigned</a>
          </div>
        </div>
    </div>
  </div>
</div>
<script>
  // Initialize tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
</body>
</html>