<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'user-board')}">
<head>
  <meta charset="UTF-8">
  <title>Add activity</title>
</head>
<body>
<div class="row">
  <div th:switch="${userActual.role}">
    <div th:case="'admin'">
      <form method="post" th:object="${actTest}">
        <div class="row">
          <div class="col-sm-2">
            <label>Filter by user</label></br>
            <select class="form-select" th:field="*{user}">
              <option th:each="userNew: ${usersFind}" th:value="${userNew.id}" th:text="${userNew.username}"></option>
            </select>
          </div>
          <div class="col-sm-3">
            <input class="btn btn-success bthFilter" type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Activity Name</th>
      <th scope="col">Start of work</th>
      <th scope="col">End of work</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report, iter: ${reports}">
      <td><a th:href="@{/activity/{id}(id=${report.activity.getId()})}"><span th:text="${report.activity.name}"></span></a></td>
      <td>
        <p th:text="${report.timeFrom.getDayOfMonth()}"></p><p>/</p><p
              th:text="${report.timeFrom.getMonthValue()}"></p><p
      >/</p><p
              th:text="${report.timeFrom.getYear()}"></p>
        <span>
          <p th:text="${report.timeFrom.getHour()}"></p><p>:</p><p th:text="${minutesFrom.get(iter.index)}"></p>
        </span>
      </td>
      <td>
        <span>
          <p th:text="${report.timeTo.getDayOfMonth()}"></p><p
        >/</p><p
                th:text="${report.timeTo.getMonthValue()}"></p><p
        >/</p><p
                th:text="${report.timeTo.getYear()}"></p>
        </span>
        <span class="workHour">
          <p th:text="${report.timeTo.getHour()}"></p><p>:</p><p th:text="${minutesTo.get(iter.index)}"></p>
        </span>
      </td>
      <td th:text="${report.partOfTime}">@mdo</td>
    </tr>
    </tbody>
  </table>
    </div>

  </div>
</div>
</body>
</html>